name: Actualizar Canales DEPORTE_LIBRE.FANS

on:
  schedule:
    - cron: '0 * * * *' # Ejecutar cada hora
  workflow_dispatch: # Permitir ejecución manual

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests beautifulsoup4

    - name: Run scraping script
      run: python script_canales_DEPORTE-LIBRE.FANS.py

    - name: Commit and push updated XML
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git pull origin main  # Agregar esta línea para hacer un pull antes del push
        git add lista_canales_DEPORTE-LIBRE.FANS.xml
        git commit -m 'Update lista_canales_DEPORTE-LIBRE.FANS.xml'
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
