name: Actualizar Lista Icastresana

on:
  schedule:
    - cron: '0 * * * *'  # Se ejecuta cada hora
  workflow_dispatch:  # Permite activación manual

jobs:
  update_script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests  # Asegúrate de que la librería requests esté instalada

    - name: Run the script
      run: |
        python script_lista_icastresana.py
